* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    background-color: #202022;
}

html, .main {
    background-size: 100%;
    background-image: url("images/background.jpg");
    background-size: contain;
    background-attachment: fixed;
}

.main {
    text-align: center;
    color:white;
    margin: auto;
    font-size: 24px;
}

h2 {
    font-size: 28px;
}

#name {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    margin-top: 4%;
    width: 40%;
}

#picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2%;
    width: 40%;
}

#underpicture {
    width: 40%;
    line-height: 1.6em;
    padding-top: 1%;
    display: inline-block;
    margin-bottom: 1%;
}

a:link {
    color:aqua;
    display: inline;
}

a:visited {
    color:magenta;
}

.block {
    width: 50%;
    line-height: 1.6em;
    margin-top: 4%;
    float:none;
    display: inline-block;
}

.projecttable {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 30px;
    row-gap: 40px;
    padding-top: 15px;
}

#projectbutton1 {
    background-color: darkslategray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#projectbutton2 {
    background-color: darkslategray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#projectbutton3 {
    background-color: darkslategray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#projectbutton4 {
    background-color: darkslategray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#projectbutton5 {
    background-color: darkslategray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#projectbutton6 {
    background-color: darkslategray;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

#skills {
    width: 50%;
    line-height: 1.6em;
    margin-top: 4%;
    float:none;
    display: inline-block;
}

ul {
    list-style-type: none;
}

#leftskills {
    padding-top: 1%;
    float:left;
    width: 34%;
    display: inline;
}

#middleskills {
    padding-top: 1%;
    float:left;
    width: 33%;
    display: inline;
}

#rightskills {
    padding-top: 1%;
    float:right;
    width: 33%;
    display: inline;
}

.fa-square-github {
    font-size: 40px;
}

.fa-linkedin {
    font-size: 40px;
}

.fa-code {
    font-size: 50px;
}

.fa-computer {
    font-size: 50px;
}

.fa-user {
    font-size: 50px;
}